<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('parcial/head.js')%>
</head>
<body>

    <%- include('parcial/navigation')%>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1"> About </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iure, aliquid voluptatem asperiores eligendi numquam a tempore enim quas voluptas doloremque architecto laboriosam ipsam dolor ullam quaerat quo recusandae, fuga deserunt exercitationem esse pariatur. Consectetur, assumenda deleniti officia nobis eos enim in, iste esse, dolores velit dicta eius itaque voluptates beatae asperiores cumque hic adipisci! Similique quasi ipsam ratione iure corrupti facere exercitationem assumenda voluptatum, enim voluptatibus fugit saepe libero voluptatem illum. Qui accusamus dolor esse adipisci molestias repellendus necessitatibus animi repellat saepe accusantium. Nihil ipsum eaque odit ab odio magni totam officia quidem maxime quia reprehenderit assumenda commodi error molestias porro amet, voluptates temporibus ratione possimus doloremque illo. Sequi, quasi? Veritatis dignissimos odit fuga autem nemo natus aliquid asperiores quisquam, sed maxime magni voluptas illum vitae assumenda consectetur corrupti in consequuntur at quibusdam eum itaque sapiente sit. Tenetur impedit laborum animi maiores quas, necessitatibus molestias aliquam possimus eveniet dolorum nisi pariatur beatae magnam cumque, labore suscipit illum blanditiis unde ipsum nulla, nihil accusantium voluptatem velit cupiditate! Veritatis minus placeat pariatur enim ratione dolor nisi eius accusantium reprehenderit, atque nostrum iste quas qui inventore itaque quis laboriosam quaerat voluptatum deserunt? Unde quisquam placeat rem amet nobis, modi maxime error animi.
            </p>
        </section>
    </main>

    <%- include('parcial/footer')%>
    
</body>
</html>